@model List<WebKomunalka.Net8.Models.Service>

@{
    ViewData["Title"] = "Services";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <h1>@ViewData["Title"]</h1>
            <a href="@Url.Action("AddService", "Service")" class="btn btn-primary mb-3">Додати новий сервіс</a>

            <!-- Форма для пошуку -->
            <form method="get" action="@Url.Action("Index", "Service")">
                <div class="form-group">
                    <label for="searchQuery">Пошук</label>
                    <input type="text" class="form-control" id="searchQuery" name="searchQuery" value="@ViewBag.SearchQuery" placeholder="Введіть назву сервісу">
                </div>
                <button type="submit" class="btn btn-primary">Знайти</button>
                <a href="@Url.Action("Index", "Service", new { searchQuery = (string)null })" class="btn btn-secondary">Скинути фільтр</a>
            </form>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Service Name</th>
                        <th>Unit Price</th>
                        <th>Unit Type</th>
                        <th>Company</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="alert alert-danger text-center" role="alert">
                    Сервісів НЕ знайдено
                </div>
            </div>
        </div>
    </div>
</div>